{% extends "base.html" %}
<!-- Extends establishes ingeritance link between the two templates, index and base, so that Jinja2 knows to embed index to base when called. -->

{% block content %}
    <!-- The stuff in curly braces are called dynamic content -->
    <!-- These placeholders represent parts of the page that are variable and will only be known at runtime. -->
    <h1>Hello, {{ current_user.username }}!</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    
    {% for post in posts %}
    <div>
        <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
    </div>
    {% endfor %}
{% endblock %}